.Header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;

    position: fixed;
    top : 0;
    right: 0;
    left: 0;
    height: 50px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(222, 222, 222);

    z-index: 100;
}

/* Left_section */

.Left_section
{
    display: flex;
    align-items: center;
}

.hamburger-menu
{
    height: 20px;
    margin-left: 20px;
    margin-right: 25px;
}

.youtube-logo
{
    height: 1rem;
}

/* Left_section */


/* Middle_section */
.Middle_section
{
    flex :1;
    margin-left: 65px;
    margin-right: 25px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.Searchbox
{
    flex :1;
    height : 36px;
    padding-left: 10px;
    font-size: 15px;

    border: 1px solid rgb(192, 192, 192);

    border-radius: 1px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0,0.01);
    width: 0;
}
.Searchbox::placeholder
{
    font-size: 15px;
}

.Search_button,.Mic_button,
.Create_icon_Container,
.yt_apps_icon_Container,
.Notification_icon_container,
.Self_Channal_icon_Container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search_button
{
    background-color: rgb(240, 240, 240);
    height: 40px;
    width: 65px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
}

.Search_button .Tooltip,
.Mic_button .Tooltip,
.Create_icon_Container .Tooltip,
.yt_apps_icon_Container .Tooltip,
.Notification_icon_container .Tooltip,
.Self_Channal_icon_Container .Tooltip
{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px ;
    border-radius: 3px;
    font-size: 12px;
    bottom: -40px;
    opacity: 0;
    transition: opacity .15s;
    pointer-events: none;
    white-space: nowrap;
}

.Search_button:hover .Tooltip,
.Mic_button:hover .Tooltip,
.Create_icon_Container:hover .Tooltip,
.yt_apps_icon_Container:hover .Tooltip,
.Notification_icon_container:hover .Tooltip,
.Self_Channal_icon_Container:hover .Tooltip
{
    opacity: 1;
}


.Search_icon
{
    height: 25px;
}

.Mic_button
{
    width: 40px;
    height: 40px;
    border-radius: 20px; 
    border: none;
    border-color: rgb(192, 192, 192);
}
.Mic_icon
{
    height: 23px;
}
/* Middle_section */


/* Right_section */
.Right_section
{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;

}

.Create_icon
{
    height: 24px;
}


.yt_apps_icon
{
     height: 24px;
}

.Notification_icon
{
     height: 24px;
}

.Notification_icon_container
{
     position: relative;
}

.Notication_count
{
    font-size: 11px;
    background-color: rgb(200, 0, 0);
    color: white;
    position: absolute;
    top: -2px;
    right: -5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.Self_Channal_icon
{
    height: 32px;
    border-radius: 16px;
}

