.hero-carousel {
  width: 92%;
  height: 420px;
  margin: 20px auto;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background: black;
}


.hero-track {
  display: flex;
  height: 100%;
  transition: transform 0.7s ease;
}


.hero-slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.hero-slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: 70% center;  /* 70% shows more of the character */
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  max-width: 500px;
  color: white;
  z-index: 5;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 1.1;
}

.hero-content p {
  font-size: 17px;
  opacity: 0.85;
  line-height: 1.4;
}

.hero-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.45) 30%,
    transparent 60%
  );
}

.hero-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.45);
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: 0.25s;
}

.hero-btn:hover {
  background: rgba(0, 0, 0, 0.75);
}

.left {
  left: 20px;
}
.right {
  right: 20px;
}
