          .SUBSCRIBE_button
            {
                background-color :rgb(200, 0, 0);
                color : white;
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 16px;
                padding-right: 16px;
                vertical-align: top;
                border-radius: 2px;
                cursor : pointer;
                margin-right: 8px;
                transition: opacity .15s;
            }
            .SUBSCRIBE_button:hover
            {
                opacity: 0.8;
            
            }
            .SUBSCRIBE_button:active
            {
                opacity: 0.3;
            }
            .JOIN_button
            {
                background-color :white;
                border-color: blue;
                border-style: solid;
                border-width: 1px;
                color: blue;
                padding-top: 9px;
                padding-bottom:9px;
                padding-left: 16px;
                padding-right: 16px;
                vertical-align: top;
                border-radius: 2px;
                cursor : pointer;
                margin-right: 8px;
                transition: background-color .15s, color .15s;
            }
            .JOIN_button:hover
            {
                background-color: rgb(51, 51, 183);
                color: white;
            }
            .JOIN_button:active
            {
                opacity: 0.7;
            }
            .TWEET_button
            {
                background-color: rgb(2, 137, 255);
                color: white;
                border: none;
                border-radius: 18px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 16px;
                padding-right: 16px;
                vertical-align: top;
                cursor: pointer;
                font-weight: bold;
                font-size: 15px;
                transition: box-shadow .15s;
            }
            .TWEET_button:hover
            {
                box-shadow: -2px 2px 5px rgba(0,0,0,0.3);
            }
            .TWEET_button:active
            {
                box-shadow: -3px 3px 5px rgba(0,0,0,0.3);
            }