            p 
            {
            font-family: Roboto;
            margin-top: 0px;
            margin-bottom: 0px;
            }

            .Video_Title
            {
                font-size: 18px;
                font-weight: bold;
                width: 300px;
                line-height: 24px;
                margin-bottom: 5px;
            }

            .video_stats
            {
                font-size: 14px;
                color : rgb(96, 96, 96);
            }

            .video_Owner
            {
                font-size: 14px;
                color : rgb(96, 96, 96);
                margin-top: 20px;
            }

            .Video_Description
            {
                width: 300px;
                line-height: 20px;
                font-size: 14px;
                color : rgb(96, 96, 96);
                margin-top: 20px;
                margin-bottom: 100px;
            }

            .apple_Text
            {
                background-color: red;
                color: white;
                text-align: center;
                font-size: 14px;
                padding-top: 18px;
                padding-bottom: 18px;
            }

            .Span_link
            {
                cursor: pointer;
            }   
            .Span_link:hover
            {
                text-decoration: underline;
            }